@import "tailwindcss";

@theme {
	--font-sans: 'IRANSans';
	--color-lagoon: oklch(0.72 0.11 221.19);
}

@layer utilities {
	.container{
		@apply mx-auto px-4;
		max-width: 1440px;
	}
	.font-thin {
		font-variation-settings: 'wght' 100;
	}
	.font-extralight {
		font-variation-settings: 'wght' 200;
	}
	.font-light {
		font-variation-settings: 'wght' 300;
	}
	.font-normal {
		font-variation-settings: 'wght' 400;
	}
	.font-medium {
		font-variation-settings: 'wght' 500;
	}
	.font-semibold {
		font-variation-settings: 'wght' 600;
	}
	.font-bold {
		font-variation-settings: 'wght' 700;
	}
	.font-extrabold {
		font-variation-settings: 'wght' 800;
	}
	.font-black {
		font-variation-settings: 'wght' 900;
	}
}

@layer components {
	.modal, .offcanvas-backdrop{
		@apply fixed z-[1020] top-0 left-0 w-full h-full overflow-x-hidden overflow-y-auto backdrop-blur-sm bg-black/60;
	}
	.offcanvas{
		@apply fixed z-[1025] transition-transform duration-150 ease-linear w-full;
		&.offcanvas-left{
			@apply top-0 left-0 h-full -translate-x-full;
		}
		&.offcanvas-right{
			@apply top-0 right-0 h-full translate-x-full;
		}
		&.offcanvas-top{
			@apply top-0 left-0 w-full -translate-y-full;
		}
		&.offcanvas-bottom{
			@apply bottom-0 left-0 w-full translate-y-full;
		}

		&.show{
			@apply translate-y-0 translate-x-0;
		}
	}

	.form-control{
		@apply block w-full outline-none rounded-xl p-3 transition-all duration-300 ease-in-out border focus:border-primary;
	}

	.btn{
		@apply cursor-pointer z-[1] text-base/normal font-normal select-none outline-none rounded-md;
		@apply text-center inline-block no-underline align-middle transition-all duration-150 ease-in-out py-3 px-4 border border-transparent;
		&.btn-primary{
			@apply bg-primary text-white hover:bg-white hover:border-primary hover:text-primary;
		}
	}
}